<h1>Add a new item</h1>

<form action="/make_a_new_item" method="post">
  <div>
    <label for="link_url_param">Link URL</label>
    <input type="text" id="link_url_param" name="link_url_param" placeholder="Enter a URL...">
  </div>

  <div>
    <label for="link_description_param">Link Description</label>
    <input type="text" id="link_description_param" name="link_description_param" placeholder="Enter a link description.">
  </div>

  <div>
    <label for="thumbnail_url_param">Thumbnail URL</label>
    <input type="text" id="thumbnail_url_param" name="thumbnail_url_param" placeholder="Enter a thumbnail URL.">
  </div>

  <button type="submit">Create item</button>
</form>
